<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/" method="post">
        <label for="">Name</label>
        <input name="usernamee" type="text"><br><br>
        <label for="">Email</label>
        <input name="email" type="email"><br><br>
        <label for="">Password</label>
        <input name="password" type="password"><br><br>
       <button>Souvgarde</button>
    </form>
    
</body>
</html>